<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Addiction Website</h1>
    <h2>nick</h2>
</body>
</html>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'website/css/style.css' %}">

<body style="background-color: black; color: white;">
    <h1>Welcome to My Website</h1>
    <p>This is a paragraph with white text on a black background.</p>
</body>


