{% load static %}
{% comment %} website/template/index.html {% endcomment %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} <title>{% block title %}Python Games{% endblock %}</title> {% endcomment %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/bootstrap-slider.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/TimeCircles.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/application.css' %}" rel="stylesheet" media="screen">
</head>
<body style="background-color: white;">
    {% comment %} <h1 style="color: black; text-align: center;">Python Games</h1> {% endcomment %}

    {% block content %}
    <div class="container">
        <div style="text-align: center;">
            <a href="{% url 'login' %}" class="btn btn-primary btn-lg">Login</a>
        </div>
    </div>
    {% endblock %}

    <script type="text/javascript" src="{% static 'js/jquery-2.0.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-slider.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/reconnecting-websocket.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/TimeCircles.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/application.js' %}"></script>
</body>
</html>
